#app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.container {

}

.animation {
  border-radius: 4px;
}

ul {
  display: flex;
  width: 50%;
}

ul li{
  background-color: #c1d82f;
  width: 100px;
  height: 100px;
  margin:2px;
  padding: 0;
  list-style: none;
  text-align: center;
  line-height: 100px;;
}

.li-diff {
  background-color: #89ba16;
}